* {
  margin: 0;
  padding: 0;
}

.nav {
  height: 100px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(to right, lightskyblue, darkblue);
}

main {
  display: flex;
  flex-flow: row wrap;
}

h3 {
  font-size: 20px;
}

.left-container {
  width: 20%;
  padding: 5px;
  border: 2px solid black;
}

.right-container {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
}

.hide {
  display: none;
}

.today-container {
  width: 100%;
  border: 2px solid black;
}

hr {
  color: black;
}

.fiveday-forecast-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border: 2px solid black;
}

.forecast-title {
  width: 100%;
}

.today {
  border: 1px solid black;
  width: 98%;
  margin: 1%;
}

.city-name-date {
  font-size: 1.3rem;
  font-weight: bold;
}

.today-emoji,
.each-emoji {
  width: 50px;
  height: auto;
}

.today-temp,
.today-wind,
.today-humid,
.today-uv-index,
.each-date,
.each-temp,
.each-wind,
.each-humid {
  font-size: 1rem;
}

.each-date {
  font-weight: bold;
}

.day-card {
  border: 1px solid black;
  width: 18%;
  background-color: darkslateblue;
  color: white;
  margin: 1%;
}

.search-for-city {
  font-size: 1.3rem;
}

.search-bar {
  width: 100%;
}

.submit-btn {
  border-radius: 10px;
  background-color: lightskyblue;
  width: 100%;
  color: white;
  border-bottom: 3px solid black;
}

.placeholderBtn {
  border-radius: 10px;
  background-color: grey;
  width: 100%;
  color: white;
  border-bottom: 3px solid black;
}

/* classes for the UV number, changes the color based on the UV Index rating */
.UVIndex-number {
  padding: 0px 5px 0px 5px;
  border-radius: 10px;
  color: black;
}

.low-UV {
  background-color: green;
}

.moderate-UV {
  background-color: yellow;
}

.high-UV {
  background-color: orange;
}

.very-high-UV {
  background-color: red;
}

.extreme-UV {
  background-color: purple;
}
